@font-face {
  font-family: "MoveBold";
  src: local("MoveBold"), url(../fonts/MoveBold.otf);
}

@font-face {
  font-family: "MoveMedium";
  src: local("MoveMedium"), url(../fonts/MoveMedium.otf);
}

@font-face {
  font-family: "MoveRegular";
  src: local("MoveRegular"), url(../fonts/MoveRegular.ttf);
}

@font-face {
  font-family: "MoveLight";
  src: local("MoveLight"), url(../fonts/MoveLight.ttf);
}

@font-face {
  font-family: "MoveTextBold";
  src: local("MoveTextBold"), url(../fonts/UberMoveTextBold.otf);
}

@font-face {
  font-family: "MoveTextMedium";
  src: local("UberMoveTextMedium"), url(../fonts/UberMoveTextMedium.otf);
}

@font-face {
  font-family: "MoveTextRegular";
  src: local("UberMoveTextRegular"), url(../fonts/UberMoveTextRegular.otf);
}

@font-face {
  font-family: "MoveTextLight";
  src: local("UberMoveTextLight"), url(../fonts/UberMoveTextLight.otf);
}

.container {
  font-family: "MoveTextRegular", sans-serif;
  font-size: 2vmin;
  text-align: left;
  overflow-x: hidden;
}

.presentationContainer {
  padding-top: 9%;
  flex-direction: row;
  align-items: center;
  flex: 1;
  /* border: 1px solid black; */
  min-height: 91vmin;
  background-color: #11a05a;
  margin-top: 1%;
}

.gridContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.leftpartContainer {
  padding-left: 5%;
  padding-right: 5%;
  /* border: 1px solid red; */
  display: block;
  height: 100%;
  width: 100%;
}

.rightpartContainer {
  /* border: 1px solid blue; */
  height: 91vmin;
  /* flex: 1; */
  /* flex-grow: 1; */
  width: 100%;
  margin-top: 10vmin;
}

.headerPic {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* border-top-left-radius: 50px; */
  /* border-bottom-left-radius: 50px; */
}

/** Header entry text **/
.prestTextEntryContainer {
}

.prestTextEntry {
  font-family: "MoveBold", sans-serif;
  font-size: 11vmin;
  color: white;
}

.presTextSubContainer {
  margin-top: 5%;
  /* border: 1px solid black; */
  width: 90%;
}

.presTextSub {
  color: white;
  font-size: 4.5vmin;
}

.presHaaderDownloadContainer {
  margin-top: 10%;
  /* border: 1px solid black; */
}

/* Body part one */
.bodyPartOneContainer {
  /* border: 1px solid black; */
  background-color: #f8f9fb;
  min-height: 70vmin;
  /* margin-top: 5%; */
  padding-top: 15%;
  padding-bottom: 5%;
}

.leftPartBPOContainer {
  /* border: 1px solid black; */
  /* background-color: rebeccapurple; */
  height: 125vmin;
  display: flex;
  justify-content: center;
}

.phone1 {
  object-fit: contain;
}

.rightPartBPOContainer {
  /* border: 1px solid red; */
  min-height: 100vmin;
}

/* Body part two */
.bodyPartTwoContainer {
  /* border: 1px solid black; */
  /* background-color: red; */
  min-height: 20vmin;
  margin-top: 5%;
  padding-top: 5%;
}

/* Body part three */
.bodyPartThreeContainer {
  min-height: 40vmin;
  margin-top: 5%;
  /* background-color: red; */
}

.bodyPartThreeContainerVar2 {
  min-height: 60vmin;
  margin-top: 5%;
  /* background-color: red; */
}

/* Body part four */
.bodyPartFourContainer {
  /* border: 1px solid black; */
  background-color: #f8f9fb;
  min-height: 70vmin;
  margin-top: 10%;
  padding-top: 5%;
}

/* Body part five */
.bodyPartFiveContainer {
  /* border: 1px solid black; */
  min-height: 50vmin;
  margin-top: 10%;
  padding-bottom: 10%;
  padding-top: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #11a05a;
  color: white;
}

.businessContainer {
  /* border: 1px solid black; */
  height: 230px;
  background-color: #d0d0d0;
  background: linear-gradient(
      to right,
      rgba(9, 110, 212, 0.9),
      rgba(9, 110, 212, 0.9),
      rgba(17, 160, 91, 0.9)
    ),
    url("../Images/5808877.jpg");
  background-position: left;
  background-repeat: repeat;
  background-size: contain;
  /* margin-top: 5%; */
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  /* padding-right: 20%; */
}

.backgroundBusiness {
  width: 120%;
  height: 100%;
  object-fit: cover;
}

.insideBusinessC {
  /* border: 1px solid black; */
  padding-left: 5%;
  padding-right: 5%;
  flex: 1;
  color: white;
  text-align: center;
  padding-top: 7%;
}

.titleBusi {
  font-family: "MoveBold", sans-serif;
  font-size: 30px;
  margin-bottom: 10px;
  color: white;
}

.subTitleBusi {
  font-size: 5vmin;
}

.btnDeliverySol {
  border: 1px solid #fff;
  font-family: "MoveTextMedium", sans-serif;
  background-color: #fff;
  color: #000;
  width: 180px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 17px;
  cursor: pointer;
  border-radius: 1000px;
  margin-bottom: 8%;
}
